div.intro
	div.intro-inner
		div.container
			div.row
				div.col-sm-12
					div.intro-content
						p.intro-copy 
							span.quote &#34;Life&#8217;s a movie. Be the director.&#34;
							span.url | matthewdhuntley.com
						
				