div.wrapper-carousel.hidden-md-up
	div#slide-latest-film-review 
		.container
			article.latest-film-review
				h4.slide-title Latest Film Review
				a(class='slide-link' href='/film-reviews')
					img(class="latest-film-review-image" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
				p.slide-copy A lot of films represent truth and the struggles humans must endure to survive day to day vicissitudes, but “Manchester by the Sea” practically feels human itself. It is alive and observant, happy and sad, humorous and resentful, and its characters come with their own choices and limitations.
				a(class='slide-link read-more' href='/film-reviews') ...Read More!
	div#slide-weekend-exercise-challenge
		.container
			article.weekend-exercise-challenge
				h4.slide-title Weekend Exercise Challenge
				a(class='slide-link' href='/exercise')
					img(class="weekend-exercise-challenge-image" src='https://i.ytimg.com/vi/2FVqMOy7gjU/mqdefault.jpg' alt="img")
				p.slide-copy Millionaire Hoy&#8217;s 30 Min. Upper Body Workout for Arms | Day 03 - 30 Day Full Body Burnout.
				a(class='slide-link read-more' href='/exercise') ...Read More!
	div#slide-latest-cooking-recipe
		.container
			article.latest-cooking-recipe
				h4.slide-title Latest Cooking Receipe
				a(class='slide-link' href='/eat')
					img(class="latest-cooking-recipe-image" src='http://robustrecipes.com/wp-content/uploads/2016/01/Lentil-Turkey-Chili.-Hearty-simple-chili-that-uses-lentils-instead-of-beans-Perfect-way-to-beat-wintertime-blues..jpg' alt="img")
				p.slide-copy Turkey-Lentil Chili.
				a(class='slide-link read-more' href='/eat') ...Read More!
	div#slide-latest-travel-photo
		.container
			article.latest-travel-destination
				h4.slide-title Latest Travel Destination
				a(class='slide-link' href='/travel')
					img(class="latest-travel-destination-image" src='http://hauteliving.com/wp-content/uploads/2015/12/Beacon-Theatre.jpg' alt="img")
				p.slide-copy The Beacon Theater in New York City, featuring Jerry Seinfeld!
				a(class='slide-link read-more' href='/travel') ...Read More!
	div#slide-play
		.container
			article.latest-play-suggestion
				h4.slide-title Latest Play Suggestion
				a(class='slide-link' href='/play')
					img(class="latest-play-suggestion-image" src='http://thedistrict.com/wp-content/uploads/2011/01/rockcreekpark.jpg' alt="img")
				p.slide-copy Rock Creek Park in Washington, D.C.
				a(class='slide-link read-more' href='/play') ...Read More!
				