div.wrapper-carousel.hidden-md-up
	div#slide-latest-film-review 
		.container
			article.latest-film-review
				h4.slide-title Latest Film Review
				a(class='slide-link' href='/film-reviews')
					img(class="latest-film-review-image" src='http://placehold.it/1000x750' alt="img")
				p.slide-copy A lot of films represent truth and the struggles humans must endure to survive day to day vicissitudes, but “Manchester by the Sea” practically feels human itself. It is alive and observant, happy and sad, humorous and resentful, and its characters come with their own choices and limitations.
				a(class='slide-link read-more' href='/film-reviews') Read More...
	div#slide-weekend-exercise-challenge
		.container
			article.weekend-exercise-challenge
				h4.slide-title Exercise Challenge
				a(class='slide-link' href='/exercise')
					img(class="weekend-exercise-challenge-image" src='http://placehold.it/1000x750' alt="img")
				p.slide-copy Millionaire Hoy&#8217;s 30&#45;Day Full&#45;Body Burnout.
				a(class='slide-link read-more' href='/exercise') See More!
	div#slide-latest-cooking-recipe
		.container
			article.latest-cooking-recipe
				h4.slide-title Latest Cooking Recipe
				a(class='slide-link' href='/eat')
					img(class="latest-cooking-recipe-image" src='http://placehold.it/1000x750' alt="img")
				p.slide-copy Turkey-Lentil Chili.
				a(class='slide-link read-more' href='/eat') Read More!
	div#slide-latest-travel-photo
		.container
			article.latest-travel-destination
				h4.slide-title Latest Travel Destination
				a(class='slide-link' href='/travel')
					img(class="latest-travel-destination-image" src='http://placehold.it/1000x750' alt="img")
				p.slide-copy The Beacon Theater in New York City, featuring Jerry Seinfeld!
				a(class='slide-link read-more' href='/travel') Read More!
	div#slide-play
		.container
			article.latest-play-suggestion
				h4.slide-title Latest Play Suggestion
				a(class='slide-link' href='/play')
					img(class="latest-play-suggestion-image" src='http://placehold.it/1000x750' alt="img")
				p.slide-copy Rock Creek Park in Washington, D.C.
				a(class='slide-link read-more' href='/play') Read More!
				