div.wrapper-film-reviews-search
	div.film-reviews-search
		div.container
			div.col-sm-8.col-md-7.col-lg-6.col-film-reviews-search
				span.film-reviews-search-title Film Reviews Archives
				form#search(method="get", accept-charset="UTF-8")
					input(type="text", name="search" placeholder="SEARCH")
					button(id="searchButton", type="submit", value="")
						i(class="fa fa-search" aria-hidden="true")