div.wrapper-footer
  footer.footer
    div.container
      div.row
        div.col-sm-8.col-copyright
          div.copyright-info &#169; 
            span#copyright-year
            span &#160;Matthew D. Huntley &#124; 
            span.copyright-rights All Rights Reserved
        div.col-sm-4
          div.footer-followMe-wrapper
            div.footer-followMe
              span.footer-followMe-text Follow Me
              a(class="facebook" href='https://www.facebook.com/matthew.huntley.31' target="_blank" title="Like matthewduntley on Facebook")
                img(style="border:none;" src="/static/img/social-media/facebook.png"  alt="Facebook Icon")
              a(class="twitter-link" href='https://twitter.com/MatthewDHuntley' target="_blank" title="Follow matthewdhuntley on Twitter")
                img(style="border:none;" src="/static/img/social-media/twitter.png"  alt="Twitter Icon")
              a(class="googlePlus" href='https://plus.google.com/' title="Follow matthewdhuntley on Google Plus")
                img(style="border:none;" src="/static/img/social-media/googlePlus.png" alt="Google Plus Icon")
              a(class="linkedIn" href='https://www.linkedin.com/in/matthewdhuntley' target="_blank" title="View matthewdhuntley on LinkedIn")
                img(style="border:none;" src="/static/img/social-media/linkedIn.png" alt="LinkedIn Icon")
              a(class="email" href='mailto:matthew.huntley18@gmail.com' title="E-mail matthewdhuntley")
                img(class="envelope" style="border:none;" src="/static/img/social-media/email-tan.png" alt="E-mail Icon")
