div.wrapper-header
	header.header
		div.container
			div.row
				div.col-sm-6
					a.header-brand(href='/') <span class="initials">MDH</span><span class="fullName">Matthew D Huntley</span>
				div.col-sm-6
					div.header-followMe-wrapper 
						div.header-followMe
							span.header-followMe-text Follow Me
							a(class="facebook" href='https://www.facebook.com/matthew.huntley.31' target="_blank" title="Like matthewduntley on Facebook")
								img(style="border:none;" src="/static/images/social-media/facebook.png" alt="Facebook Icon")
							a(class="instagram" href='https://www.instagram.com/matthewdhuntley/' target="_blank" title="View matthewdhuntley on instagram")
								img(style="border:none;" src="/static/images/social-media/instagram.png" alt="Instagram Icon")
							a(class="twitter-link" href='https://twitter.com/MatthewDHuntley' target="_blank" title="Follow matthewdhuntley on Twitter")
								img(style="border:none;" src="/static/images/social-media/twitter.png" alt="Twitter Icon")
							a(class="linkedIn" href='https://www.linkedin.com/in/matthewdhuntley' target="_blank" title="View matthewdhuntley on LinkedIn")
								img(style="border:none;" src="/static/images/social-media/linkedIn.png" alt="LinkedIn Icon")
							a(class="email" href='mailto:matthew.huntley18@gmail.com' title="E-mail matthewdhuntley")
								img(class="envelope" style="border:none;" src="/static/images/social-media/email.png" alt="E-mail Icon")