div.wrapper-slick-carousel.hidden-md-up
	div.slick-carousel
		div#slide-film-review 
			div.container.article-wrapper
				article.film-review
					h1.slide-title Latest Film Review
					div.slide-link-image
						a(href='/film-reviews')
							img(class="latest-film-review-image" src='/static/images/home-page-mobile-slider/film-review.jpg' alt="img")
					span.slide-copy &#34;New&#34; 
						a Halloween
						|&nbsp;bows down to same old cliches and gimmicks.
					span.slide-link-read-more
						a(href='/film-reviews') Read more...
		div#slide-exercise
			div.container.article-wrapper
				article.exercise-challenge
					h1.slide-title Latest Exercise Challenge
					div.slide-link-image
						a(class='slide-link-image' href='/exercise')
							img(class="latest-exercise-image" src='/static/images/home-page-mobile-slider/exercise.jpg' alt="img")
					span.slide-copy A fun and intense Warrior HIIT workout from Coach Kozak and HASfit.
					span.slide-link-read-more
						a(href='/exercise') See more...
		div#slide-recipe
			div.container.article-wrapper
				article.latest-cooking-recipe
					h1.slide-title Latest Cooking Recipe
					div.slide-link-image
						a(class='slide-link-image' href='/eat')
							img(class="latest-cooking-recipe-image" src='/static/images/home-page-mobile-slider/cooking-recipe.jpg' alt="img")
					span.slide-copy A zesty and healthy black bean dip with a potential kick!
					span.slide-link-read-more
						a(href='/eat') Read more...
		div#slide-travel
			div.container.article-wrapper
				article.latest-travel-destination
					h1.slide-title Latest Travel Destination
					div.slide-link-image
						a(href='/travel')
							img(class="latest-travel-destination-image" src='/static/images/home-page-mobile-slider/travel-destination.jpg' alt="img")
					span.slide-copy St. George&#8217;s Castle in Lisbon, Portugal is not only adventurous and physically challenging, but also features a hidden scientific gem that&#8217;s well worth the wait!
					span.slide-link-read-more
						a(href='/travel') Read more...
		div#slide-leisure-activity
			div.container.article-wrapper
				article.latest-play-suggestion
					h1.slide-title Latest Leisure Activity
					div.slide-link-image
						a(href='/leisure')
						img(class="latest-leisure-activity-image" src='/static/images/home-page-mobile-slider/leisure-activity.jpg' alt="img")
					span.slide-copy D.C.&#8217;s blocky National Building Museum is relatively low&#45;profile compared to its museum brethren, but it takes just one visit for this untapped treasure to become a must&#45;go for cool and exciting architecture&#45;centric exhibits and activities.
					span.slide-link-read-more
						a(href='/leisure') Read More!