extends ./layout.jade

block content
	div.wrapper-content.interior-page
		div.content-body
			div.content-body-primary
				div.container
					div.row
						div.col-sm-8
							div.primary-item
								h1.primary-item-title About MDH
								div.primary-item-content
									div.primary-item-copy
										div.primary-item-copy-body
											p Hi there, and welcome to matthewdhuntley.com, my personal cyberspace outlet for sharing new and interesting things about the world, from film reviews and challenging exercises to unique restaurants and relaxing leisure activities. 
											p MDH started out as, and continues to be, my weekend passion project. Along with incentivizing me to stay up&#45;to&#45;date on the latest film beat (since film criticsm remains my most deep&#45;seated passion), my hope is the site will offer visitors new ways to add balance and diversity to their lives, whether it&#8217;s moving their bodies in different ways, tasting new types of food, or simply going somewhere they might not have considered. 
											p Everything you read about here is intended to serve as a recommendation only because, in some way, shape or form, it added pleasure and meaning to my life, and I think we all have to take a more active role in making that happen for one another every single day. Why? Because we&#8217;re all in this together.
											p Even though I develop and maintain MDH, I&#8217;m just one of the site&#8217;s several million contributors, since everything we experience in life comes from the collective actions and efforts of an incaclulabe number of people.
											p So feel free to peruse, offer feedback, and above all, enjoy. I promise the site will grow and expand over time, just as I hopefully will. After all, that's why we&#8217;re here!
						div.hidden-xs.col-sm-4
							div.secondary-item
								include ./partials/_sidebar.jade