extends ./layout.jade

block content
	div.wrapper-content.interior-page
		div.content-body
			div.content-body-primary
				div.container
					div.row
						div.col-sm-8
							div.primary-item
								span.primary-item-title About MDH
								div.primary-item-content
									div.primary-item-copy
										div.primary-item-copy-body
											p MDH (matthewdhuntley.com) is a website dedicated to sharing new and interesting things about the world &mdash; from film reviews and challenging exercises to delicious recipes and relaxing leisure activities. It has been developed by Matthew D. Huntley, but he's just one of its several million contributors, as all things sampled and experienced in life come from the collective actions and results of an incaclulabe number of individuals that would alone to take several lifetimes to recognize.
											p The goal of the site is to generate discourse about recent movies, encourage love of one's body, and simply recommend anything that might help make life richer. It's meant to stir, spread positivity energy, and inform visitors on things they might not yet know about. And, just as we all must do at all times, the site will always be looking for new and innovate ways to grow and expand, so any and all feedback is welcome!
						div.hidden-xs.col-sm-4
							div.secondary-item
								include ./partials/_sidebar.jade