extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                span.primary-item-title Eat
                div.primary-item-content
                  div.primary-item-copy
                    div.primary-item-copy-body
                      p Everybody likes to eat. So much, in fact, it seems like we revolve our entire day, if not our entire lives, around our next meal. And because food is so important to us, we should be especially willing to share our experiences with it. Like most things, food is not a given, and eating and preparing it should be about so much more than simply putting it into our mouths.
                      p This isn&#8217;t always easy (most of the time we just want to satiate ourselves and keep on charging through the day), but a few of the ways I try to stay mindful and appreciative of food are by having something I eat all the time but preparing it from start to finish myself (vs. simply opening a package or jar); trying a new recipe altogether; or venturing out to a new restaurant with a unique cuisine. It all hits home when I finally get to tell others about what I&#8217;ve eaten.
                      p So check out my latest recipe and restaurant finds and hopefully they&#8217;ll help make the food in your life more interesting!
                      span.primary-item-copy-title Latest Recipe: Black Bean Dip
                      div.primary-item-copy-image-wrapper
                        div.copy-wrapper
                          p If you like black bean dip, check out this 
                            a(href='http://www.eatingwell.com/recipe/247908/black-bean-dip/' target="_blank") awesome black bean recipe
                            |  from the folks at 
                            a(href='http://www.eatingwell.com' target="_blank") EatingWell.
                            |  It&#8217;s fast, easy and healthy. Plus, it tastes a whole lot fresher than a black bean dip out of a jar.
                          p A few notes/recommendations: 
                            br
                            | 1) A blender can be used in place of a food processor (keep in mind you might just have to blend longer and perform some manual mashing of the beans).
                            br 
                            | 2) Adding 
                            span.text-italic white 
                            | pepper in addition to the cumin gives the dip a nice kick (just don't add too much!).
                            br 
                            | 3) Instead of buying salsa, simply dice one plum tomato, one green onion and add another tablespoon of lime juice to the mix.
                        div.image-wrapper.recipe.hidden-xs.hidden-sm
                      span.primary-item-copy-title Latest Restaurant: 
                        a(href='https://www.facebook.com/FaryabBethesda/?rf=121783287835097' target="_blank") Faryab Afghan Cusine
                      div.primary-item-copy-image-wrapper
                        div.copy-wrapper
                          p The pulsating, red-lettered sign on the outside of Faryab mirrors the punchy, savory taste of its hearty dishes and don't&#45;mess&#45;around staff. So far, I&#8217;ve only tried the Faryab Shishleek and garlic-flavored spinach, but they were distinct and excellent. And because there isn&#8217;t a terribly high concentration of Afghani restaurants in the D.C. area, Faryab is even more special. 
                          p *An added bonus is there'&#8217;s no TV in the dining area, which makes the environment all the more soothing and your ability to actually concentrate on your food and company all the greater.
                        div.image-wrapper.restaurant.hidden-xs.hidden-sm
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade