extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                span.primary-item-title Eat
                div.primary-item-content
                  div.primary-item-copy
                    div.primary-item-copy-body
                      p Everybody likes to eat &mdash; so much, in fact, it seems like we revolve our entire day, if not our entire lives, around our next meal. And because eating is so important to us, food and eating are two things we should be especially grateful for because, like anything, they're not a given, and if we're fortunate enough to have food and eat it, we should strive not to just go through the motions of eating and preparing it, but really think about what we're eating. This isn't always easy, I know (most of the time we just want to satiate ourselves and keep on charging through the day), but one of ways I've tried to make food/eating more exciting is by consciously being adventurous, which simply includes trying new recipes and restaurants.
                      p So this page is dedicated to spreading the word about any new conconctions I've come across for dishes that are new or something I've eaten all the time but decided to make myself, as well as and restaurants I've found to be good finds. Check these out and hopefully they'll make the food in your life more interesting!
                      span.primary-item-copy-title Latest Recipe: Black Bean Dip
                      p If you like black bean dip, check out this 
                        a(href='http://www.eatingwell.com/recipe/247908/black-bean-dip/' target="_blank") awesome black bean recipe
                        |  from the folks at 
                        a(href='http://www.eatingwell.com/recipe/247908/black-bean-dip/' target="_blank") EaingWell
                        |. It's fast, easy and healthy. Plus, it tastes a whole lot fresher than a black bean dip out of a jar. <br>
                      p A few notes/recommendations: 
                        br
                        | 1) A blender can be used in place of a food processor (keep in mind you just might have to blend longer and perform some manual mashing of the beans).
                        br 
                        | 2) Adding 
                        span.text-italic white 
                        | pepper in addition the cumin gives the dip a nice kick (just don't add too much!).
                        br 
                        | 3) Instead of buying salsa, simply dice one plum tomato, one green onion and add another tablespoon of lime juice to the mix.
                      span.primary-item-copy-title Latest Restaurant: 
                        a(href='https://www.facebook.com/FaryabBethesda/?rf=121783287835097' target="_blank") Faryab Afghan Cusine
                      p The pulsating, red-lettered sign on the outside of Faryab mirrors the punchy, savory taste of its hearty dishes and don't-mess-around staff. So far, I've only tried the Faryab Shishleek and garlic-flavored spinach, but if they were distinct and excellent. And because there isn't a terribly high concentration of Afghani restaurants in the D.C. area, this one is even more special. 
                      p *An added bonus is there's no TV in the dining area, which makes the environment all the more soothing and your ability to actually concentrate on your food and company all the more greater.
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade