extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                span.primary-item-title Exercise
                div.primary-item-content
                  div.primary-item-copy
                    div.primary-item-copy-body
                      p Believe it or not, the human body was meant to move, and given our sedentary lifestyles, it may take a long time for us to realize this (it took me roughly 27 years), but once I did, it dawned on me that
                        | 
                        span.text-italic any 
                        | kind of moving could be a joyous thing in and of itself. 
                      p Take it from me it&#8217;s never too late to start using your muscles, and like most things, the greater diversity to which we expose them, the greater the payoff and longer&#45;lasting the reward. So check out this latest exercise challenge, or rather,
                        | 
                        span.text-italic opportunity
                        | , that has shaken up my otherwise idle routine. Enjoy!
                      span.primary-item-copy-title Latest Exercise:
                      p An intense, unpredictable, and non&#45;stop Warrior HIIT workout from Coach Kozak and 
                        a(href='https://hasfit.com/' target="_blank") HASfit
                        |. 
                        br
                        | No matter your fitness level, be prepared to work, sweat and feel alive!
                      div.exercise-video
                        div.embed-responsive.embed-responsive-16by9
                          iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/uViGkhhUtDo?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="300" height="150")
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade