extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                span.primary-item-title Exercise
                div.primary-item-content
                  div.primary-item-copy
                    div.primary-item-copy-body
                      p Believe it or not, the human body was meant to move, and given our sedentary lifestyles, it may take a long time before we realize this (it took me roughtly 27 years before I even initially appreciated the notion that any kind of moving could be a joyous thing in and of itself). But I found (and continue to find) it's never too late to start putting your muscles to work, and the more diverse the work, the more rewarding I find it, so this page is dedicated to the latest and greatest excercise I happen to come across that has shaken up my otherwise idle routine.
                      span.primary-item-copy-title Latest Exercise
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade