extends ./layout.jade

block content
  div.wrapper-content
    include ./partials/_intro.jade
    include ./partials/_slider.jade
    div.content-body
      section.content-body-primary
        div.container
          div.row
            div.col-sm-12.col-md-8
              article.primary-item.home-film-reviews
                h1.primary-item-title Latest Film Review
                div.primary-item-content
                  div.primary-item-link-image
                    a(href='/film-reviews')
                      img(src='https://cdn.vox-cdn.com/thumbor/umHdfL60uK0inIW7baByu44QAxw=/0x0:2040x1360/1200x800/filters:focal(614x445:940x771)/cdn.vox-cdn.com/uploads/chorus_image/image/61260331/AA68_D023_00164RV4.jpg_cmyk_2040.0.jpg' alt="img")
                    span.primary-item-link-image-caption Jamie Lee Curtis&#8217; HALLOWEEN heroine just can&#8217;t catch a break.
                  div.primary-item-copy
                    span.primary-item-copy-title Halloween (2018)
                    div.primary-item-copy-body I left “Halloween” (2018) scratching my head. What did I just see exactly? A sequel? An homage? A paltry imitation of a classic? I think it was all of the above, but I guess I’d have to sit down with director David Gordon Green and star Jamie Lee Curtis to know for sure.
                    span.primary-item-copy-link
                      a(href='/film-reviews') Read more...
            div.hidden-xs.hidden-sm.col-md-4
              a(class='twitter-timeline' href='https://twitter.com/MatthewDHuntley' data-border-color="#DBD1AD" data-chrome="nofooter" data-height="100%")
                script(src='//platform.twitter.com/widgets.js')
      section.content-body-secondary
        div.container
          div.row
            div.col-sm-6.col-lg-3
              article.secondary-item.home-exercise
                h2.secondary-item-title
                  | Latest 
                  br
                  | Exercise
                div.secondary-item-content
                  div.secondary-item-link-image
                    a(href='/exercise')
                      img(src='/static/images/home-page-mobile-slider/exercise.jpg' alt="img")
                  div.secondary-item-copy
                    div.secondary-item-copy-body A fun and intense Warrior HIIT workout from Coach Kozak and HASfit.
                    span.secondary-item-copy-link
                      a(href='/exercise') See more...
            div.col-sm-6.col-lg-3
              article.secondary-item.home-eat
                h2.secondary-item-title 
                  | Latest Cooking 
                  br
                  | Recipe
                div.secondary-item-content
                  div.secondary-item-link-image
                    a(href='/eat')
                      img(src='/static/images/home-page-mobile-slider/cooking-recipe.jpg' alt="img")
                  div.secondary-item-copy
                    div.secondary-item-copy-body A zesty and healthy black bean dip with a potential kick!
                    span.secondary-item-copy-link
                      a(href='/eat') Read more...
            div.col-sm-6.col-lg-3
              article.secondary-item.home-travel
                h2.secondary-item-title 
                  | Latest Travel 
                  br
                  | Destination
                div.secondary-item-content
                  div.secondary-item-link-image
                    a(href='/travel')
                      img(src='/static/images/home-page-mobile-slider/travel-destination.jpg' alt="img")
                  div.secondary-item-copy
                    div.secondary-item-copy-body St. George&#8217;s Castle in Lisbon, Portugal is not only adventurous and physically challenging, but also features a hidden scientific gem that&#8217;s well worth the wait!
                    span.secondary-item-copy-link
                      a(href='/travel') Read more...
            div.col-sm-6.col-lg-3
              article.secondary-item.home-leisure
                h2.secondary-item-title
                  | Latest Leisure 
                  br
                  | Activity
                div.secondary-item-content
                  div.secondary-item-link-image
                    a(href='/leisure')
                      img(src='/static/images/home-page-mobile-slider/leisure-activity.jpg' alt="img")
                  div.secondary-item-copy
                    div.secondary-item-copy-body D.C.&#8217;s blocky National Building Museum is relatively low&#45;profile compared to its museum brethren, but it takes just one visit for this untapped treasure to become a must&#45;go for cool and exciting architecture&#45;centric exhibits and activities.
                    span.secondary-item-copy-link
                      a(href='/leisure') Read more...