extends ./layout.jade

block content
  div.wrapper-content
    include ./includes/intro.jade
    include ./includes/slider.jade
    div.wrapper-content-desktop
      div.container-fluid.clearfix
        div.wrapper-primary-content-desktop
          div.row
            div.col-sm-12.col-lg-8.primary-content
              div.content
                .container
                  div.row
                    div.col-sm-12
                      section.home-film-reviews
                        h4.section-title Latest Film Review
                        article
                          div.row
                            div.col-sm-6
                              a(class='article-link article-link-image' href='/film-reviews')
                                img(class="latest-film-review-image" src='http://placehold.it/1000x750' alt="img")
                            div.col-sm-6
                              h4.article-title.film-title Title Coming Soon!
                              div.article-copy.film-review Review Coming Soon!
                              p.article-link-read-more
                                a(class='article-link' href='/film-reviews') ...Read More!
            div.visible-lg.col-lg-4.col-home-twitter
              div.content
                .container
                  a(class='twitter-timeline' href='https://twitter.com/MatthewDHuntley' data-border-color="#DBD1AD" data-chrome="" data-tweet-limit="6")
                    script(src='//platform.twitter.com/widgets.js' charset='utf-8')
        div.wrapper-secondary-content-desktop
          div.row
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-exercise
                    h4.section-title Weekend Exercise Challenge
                    article
                      a(class='article-link article-link-image' href='/exercise')
                        img(class="weekend-exercise-challenge-image" src='http://placehold.it/1000x750' alt="img")
                      h4.article-title Challenge Title Coming Soon!
                      div.article-copy.exercise-challenge Challenge Coming Soon!
                      p.article-link-read-more
                        a(class='article-link' href='/exercise') ...Read More!
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-eat
                    h4.section-title Latest Cooking Recipe
                    article
                      a(class='article-link article-link-image' href='/eat')
                        img(class="latest-film-review-image" src='http://placehold.it/1000x750' alt="img")
                      h4.article-title Dish Name Coming Soon!
                      div.article-copy.cooking-recipe Recipe Coming Soon!
                      p.article-link-read-more
                        a(class='article-link' href='/eat') ...Read More!
          div.row
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-travel
                    h4.section-title Latest Travel Destination
                    article
                      a(class='article-link article-link-image' href='/travel')
                        img(class="latest-film-review-image" src='http://placehold.it/1000x750' alt="img")
                      h4.article-title Destination Coming Soon!
                      div.article-copy.travel-destination Destination Details Coming Soon!
                      p.article-link-read-more
                        a(class='article-link' href='/travel') ...Read More!
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-play
                    h4.section-title Latest Leisure Suggestion
                    article
                      a(class='article-link article-link-image' href='/leisure')
                        img(class="latest-film-review-image" src='http://placehold.it/1000x750' alt="img")
                      h4.article-title Leisure Activity Name Coming Soon!
                      div.article-copy.leisure-activity Destination Details Coming Soon!
                      p.article-link-read-more
                        a(class='article-link' href='/leisure') ...Read More!