extends ./layout.jade

block content
  div.wrapper-content
    include ./includes/intro.jade
    include ./includes/slider.jade
    div.wrapper-content-desktop
      div.container-fluid.clearfix
        div.wrapper-primary-content-desktop
          div.row
            div.col-sm-12.col-lg-8.primary-content
              div.content
                .container
                  div.row
                    div.col-sm-12
                      section.home-film-reviews
                        h4.section-title Latest Film Review
                        article
                          div.row
                            div.col-sm-6
                              a(class='article-link article-link-image' href='/film-reviews')
                                img(class="latest-film-review-image" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                            div.col-sm-6
                              h4.article-title.film-title Manchester By The Sea Test 3
                              div.article-copy.film-review Many films represent truth and the struggles humans must endure to survive day to day vicissitudes, but “Manchester by the Sea” practically feels human itself. It is alive and observant, happy and sad, humorous and resentful, and its characters come with their own choices and limitations.
                              p.article-link-read-more
                                a(class='article-link' href='/film-reviews') ...Read More!
            div.visible-lg.col-lg-4.col-home-twitter
              div.content
                .container
                  a(class='twitter-timeline' href='https://twitter.com/MatthewDHuntley' data-border-color="#DBD1AD" data-chrome="" data-tweet-limit="6")
                    script(src='//platform.twitter.com/widgets.js' charset='utf-8')
        div.wrapper-secondary-content-desktop
          div.row
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-exercise
                    h4.section-title Weekend Exercise Challenge
                    article
                      a(class='article-link article-link-image' href='/exercise')
                        img(class="weekend-exercise-challenge-image" src='https://i.ytimg.com/vi/2FVqMOy7gjU/mqdefault.jpg' alt="img")
                      h4.article-title Millionaire Hoy&#8217;s 30 Min. Upper Body Workout for Arms | Day 03 - 30 Day Full Body Burnout.
                      p.article-link-read-more
                        a(class='article-link' href='/exercise') ...Read More!
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-eat
                    h4.section-title Latest Cooking Recipe
                    article
                      a(class='article-link article-link-image' href='/eat')
                        img(class="latest-film-review-image" src='http://robustrecipes.com/wp-content/uploads/2016/01/Lentil-Turkey-Chili.-Hearty-simple-chili-that-uses-lentils-instead-of-beans-Perfect-way-to-beat-wintertime-blues..jpg' alt="img")
                      h4.article-title Turkey-Lentil Chili.
                      p.article-link-read-more
                        a(class='article-link' href='/eat') ...Read More!
          div.row
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-travel
                    h4.section-title Latest Travel Destination
                    article
                      a(class='article-link article-link-image' href='/travel')
                        img(class="latest-film-review-image" src='http://hauteliving.com/wp-content/uploads/2015/12/Beacon-Theatre.jpg' alt="img")
                      h4.article-title The Beacon Theater in New York City, featuring Jerry Seinfeld!
                      p.article-link-read-more
                        a(class='article-link' href='/travel') ...Read More!
            div.col-sm-6.secondary-content
              div.content
                .container
                  section.home-play
                    h4.section-title Latest Play Suggestion
                    article
                      a(class='article-link article-link-image' href='/play')
                        img(class="latest-film-review-image" src='http://thedistrict.com/wp-content/uploads/2011/01/rockcreekpark.jpg' alt="img")
                      h4.article-title Rock Creek Park in Washington, D.C.
                      p.article-link-read-more
                        a(class='article-link' href='/play') ...Read More!