doctype html
html(lang="en")
		include ./partials/_head.jade
		
		body(id=id)
			include ./partials/_header-nav-wrapper.jade
			//include ./partials/_header.jade
			//include ./partials/_nav.jade
			block content
			include ./partials/_footer.jade
			//include ./includes/slider.jade
			//script(src='/static/js/jquery.js')
			// Bootstrap Core JavaScript
			//script(src='/static/js/bootstrap.min.js')
			// Plugins JavaScript:
			//script(src='/static/js/jquery.easing.min.js')
			//script(src='/static/js/jquery.fittext.js')
			//script(src='/static/js/wow.min.js')
			//script(src='/static/js/slick/slick.min.js')
			// Custom Theme JavaScript
			//script(src='/static/js/custom.js')
			script(src='/static/js/main.min.js')

			
				