doctype html
html(lang="en")
		include ./partials/_head.jade
		
		body(id=id)
			include ./partials/_header-nav-wrapper.jade
			block content
			include ./partials/_footer.jade
			script(src='/static/js/main.min.js')

			
				