extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                h1.primary-item-title Leisure
                div.primary-item-content
                  div.primary-item-copy
                    div.primary-item-copy-body
                      p &#34;Leisure&#34; used to be a really difficult concept for me to grasp, and I know I&#8217;m not alone on this. In our current jetstream of a society, it seems like we&#8217;re always expected to be working or fulfilling some sort of duty, even if it means enduring burnout. However, in recent years, I&#8217;ve learned to tame that urge to be &#34;on&#34; all the time and discovered the value in taking breaks, which have since become a priority, not least because they make me feel freer, happier, and, wouldn&#8217;t you know, more productive when I actually return to work. 
                      p That being said, because I&#8217;m not programmed to simply do nothing, I&#8217;ve found that as long as I perform a leisure activity that&#8217;s
                        | 
                        span.text-italic not 
                        | work&#45;related but still educational or healthy in some way&mdash;be it for myself or others&mdash;it gives my life the right kind of balance and meaning.  
                      p Check out my latest leisure activity below and perhaps it&#8217;ll inspire you to pursue something that gives your own life more balance and variety (outside of work), because who among us couldn&#8217;t use more of these?
                      h2.primary-item-copy-title Latest Leisure Activity: 
                        br
                        | National Building Museum, Washington, D.C.
                      div.primary-item-copy-image-wrapper
                        div.image-wrapper
                          img(class="img-responsive" src='/static/images/interior-pages/leisure/leisure-national-building-museum-interior.jpg' alt='img')
                        div.copy-wrapper
                          p The relatively low&#45;profile 
                            a(href='https://www.nbm.org/about/' target="_blank") National Building Museum 
                            |  lives up to its name as a larger&#45;than&#45;life showcase for how architecture and everything it encompasses plays a huge but underappreciated role in our lives, from row houses and basketball courts to movie theaters and gardens, not to mention all the raw materials used to construct such places. If it falls under the grand &#34;architecture&#34; banner, odds are this museum has or will exhibit it, and this includes aspects of design you never think twice about yet can&#8217;t imagine living without. 
                      div.primary-item-copy-image-wrapper
                        div.copy-wrapper
                          p I never even heard of this museum until my wife suggested I check it out one Sunday afternoon. Located just outside the hustle and bustle of D.C.&#8217;s Chinatown neighborhood, and just a few blocks from the Capital One Arena, the museum offers a broad yet focused experience on all the places we may find ourselves going into, on, under, through, etc. on a daily basis. You&#8217;ll be awe&#45;struck and humbled by all the design and effort from so many individuals that easily flies over our heads, which is why the best part of this museum is the way it make us aware of things we too often consider to be mundane and just &#34;a given&#34; but which actually took an inordinate amount of people to realize.
                        div.image-wrapper.hidden-xs.hidden-sm
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade