extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                span.primary-item-title Leisure
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade