extends ./layout.jade

block content
  div.wrapper-content.interior-page
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                h1.primary-item-title Travel
                div.primary-item-content
                  div.primary-item-copy
                    div.primary-item-copy-body
                      p Traveling can be one of life&#8217;s richest pleasures and experiences, regardless of the destination, distance from home, or people with whom you experience it. Granted, it&#8217;s not always easy, fun or cheap, but it pushes us outside our comfort zone and forces us to relinquish our often single&#45;track minds and the idea that things are only supposed to be a certain way. That&#8217;s why I think &#34;getting away&#34; shouldn&#8217;t just serve as a means of relaxing and unwinding, but as an essential life discipline that rescues us from complacency. 
                      p Furthermore, &#34;traveling&#34; means going 
                        | 
                        span.text-italic anywhere 
                        | different, not just somewhere exotic or foreign. And so, whenever I have the good fortune to afford to uproot myself from home&mdash;be it local, domestic, international, big, small, etc.&mdash;I&#8217;ll be sure to share it here. So enjoy, and then get up and get out!
                      h2.primary-item-copy-title Latest Travel Destination: 
                        br
                        | St. George&#8217;s Castle (Castelo de S. Jorge), Lisbon, Portugal
                      div.primary-item-copy-image-wrapper
                        div.copy-wrapper
                          p Like most capital cities, Lisbon has no shortage of tourist staples, but chief among them is St. George&#8217;s Castle. The awesome, formidable stone edifice not only gives patrons a great workout getting up to it and then climbing its many stairs and hills, it also offers breathtaking, panoramic views of the city; a tranquil garden with wandering geese; and a compelling history lesson on the city and country. It&#8217;s most notable highlight: the Camera Obscura, an exhibit where the staff reveals the city in real time through a complex system of mirrors and lenses, from a God shot directly above the castle, where you can see the tiny people walking about, to across the Tagus River at the 25 de Abril Bridge, where you can see cars crossing. It&#8217;s a true wonder and worth standing in the usually long line (just be sure to wait for the presentation to be spoken in your native language!).
                        div.image-wrapper.hidden-xs.hidden-sm
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ./partials/_sidebar.jade