block content
    span.primary-item-title Latest Film Review
    div.primary-item-content
      div.primary-item-image
        img(src='https://s3.us-east-2.amazonaws.com/matthewdhuntley.com-storage/film-reviews/halloween.jpg' alt='img')
      div.primary-item-copy
        span.primary-item-copy-title Halloween (2018)
        div.rating-byline
          span.rating 
            i.fa.fa-star
            i.fa.fa-star
          span |
          span.byline Matthew Huntley
        div.primary-item-copy-body 
          p October 19, 2018
          p 
            | I left “Halloween” (2018) scratching my head. What did I just see exactly? A sequel? An homage? A paltry imitation of a classic? I think it was all of the above, but I guess I’d have to sit down with director David Gordon Green and star Jamie Lee Curtis to know for sure. In any case, however they categorize this latest, 40th-anniversary installment of the immortal horror series, it doesn’t matter, because in the end, it’s not worth seeing.
          p
            | This is all the more disappointing to admit precisely because of the director and star. I would have expected Green, who’s primarily known for making offbeat, independent films such as “George Washington,” “Undertow,” and “Prince Avalanche” (with an occasional mainstream stinker here and there [“Your Highness”]), to put a fresher, more original spin on the horror genre, but oddly enough, he merely genuflects to its tired clichés and conventions. And Curtis, who is a smart actress, seems okay with fulfilling such a limited and simplistic role. I thought this version of “Halloween” was going to be the one that brought integrity and excitement back into the fold (the franchise has been in dire need of it for quite some time), and although it’s not as nearly awful as some of its predecessors, it’s not good, either.
          p
            | A quick note about its predecessors: as far as story continuity goes, this “Halloween” only recognizes John Carpenter’s original classic of the same name from 1978 and “Halloween II” (1981), even though “Halloween: H20” (1998) and “Halloween: Resurrection” (2002), which were parts 7 and 8, both featured Curtis’ Laurie Strode character, who died at the beginning of “Resurrection.” It pleased me to learn Green and his co-writers, Danny McBride and Jeff Fradley, penned a script that didn’t unnecessarily recall bad movies. Instead, they opted to reimagine the mythology and make it their own.
          p
            | Only they haven’t, which is the problem. Fans of Carpenter’s film will easily recognize the same exact shots and scenes Green’s version overtly recycles, such as the heroine looking out the window at school and seeing an ominous figure staring back at her; or two kids who accidentally bump into the film’s indestructible villain, Michael Myers, a.k.a. “the boogey man”; or the way Michael robotically picks up a hammer from a tool bench and bashes a woman’s head in off-camera. These parallels are obviously intentional, but why? What was Green trying to accomplish or say by doing this, other than he can recreate the same movie?
          p
            | The plot and characters are also rehashed, only they possess less dimension and spark this time around. The movie opens with two English podcast hosts (Rhian Rees and Jefferson Hall) visiting the mental hospital where Michael now resides. They’re informed of his stoic, remorseless condition by Dr. Sartain (Haluk Bilginer), who was a protégé of Dr. Lumis (Donald Pleasance), the psychiatrist who chased Michael in Carpenter’s film. At one point, Laurie even says to Sartain, “You’re the new Lumis,” as if this version is admitting it simply wants to copy the first “Halloween,” with the only difference being it’s now 40 years later.
          p
            | As the story goes, Michael escapes from the mental hospital during a patient transfer and makes his way back to Haddonfield, Illinois, the infamous doomed town where the first massacre occurred. Laurie, meanwhile, has never gotten over the trauma of that night. She now lives in a heavily fortified cabin in the woods, with a gate, security lights, monitors in every room, and an underground bunker with its own arsenal. Her compound is like a miniature boot camp.
          p
            | Laurie lives in constant fear and admits she’s a basket case, which is something her estranged daughter Karen (Judy Greer) knows all too well. Both Karen and her husband Ray (Toby Huss) think Laurie is off her rocker, but their daughter Allyson (Andi Matichak), who calls Laurie “Grandmother,” wants Laurie to be more involved in her life. Allyson, you might say, is “the new Laurie,” and it’s only a matter of time before Michael makes his way around town looking for her, and inevitably kills a fresh set of libidinous teenagers along the way.
          p
            | I wish I could say there’s more to this new “Halloween” than that, but there just isn’t, unless I’m missing something. It heeds every horror cliché in the book, which, as it happens, Carpenter’s film helped write. And I’m certain the filmmakers know they’re doing this, but again I ask, why? Did they think time had made the stale formula fresh again? Did they think we’d actually care about the one-dimensional characters and see them as anything more than just would-be victims? Why even have supplemental scenes like the one at the high school dance, where Allyson catches her boyfriend (Dylan Arnold) kissing another girl? What do they accomplish? So much of what happens in this movie feels like filler, and frankly, it’s dull.
          p
            | As for the ending, it’s a standard horror movie fare and nothing we haven’t seen before, only Green drags it out, and it once again leaves open the possibility for another sequel (which is a horror cliché in and of itself). Green and his team have made, or remade rather, a “Halloween” movie to be sure, complete with the usual plot, characters, locations and gruesome violence. But in their effort to recreate a classic, which seems to be their intention, they only managed to get the physical elements right and unfortunately left out the type of qualities that made the original “Halloween” a classic in the first place, things like mood, tension, a sense of unease, fresh ideas, excitement, interesting characters, scary situations. These are the virtues that made Carpenter’s film, or any good movie, really come alive, and the fact they’re missing from Green’s explains why it’s so dead in the water.

