extends ../layout.jade

block content
  div.wrapper-content.film-reviews
    div.container-fluid.clearfix
      div.row
        div.col-sm-12
          div#filmReviewsSearch
            span Film Review Archives
            form#search(method="get", accept-charset="UTF-8")
              input(type="text", name="search" placeholder="SEARCH")
              button(id="searchButton", type="submit", value="")
                i(class="fa fa-search" aria-hidden="true")
      div.container.content
        -var results = resultsKey
        h1!=results['title']
        div.row.content-parent-row
          div.col-md-6.col-lg-8
            div.results
              !=results['review']

