extends ../layout.jade

block content
  div.wrapper-content.film-reviews.film-review-search-results
    include ../partials/_film-reviews-search.jade
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                div.primary-item-content
                  -var results = resultsKey
                  h1!=results['title']
                  div.results
                        !=results['review']
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ../partials/_sidebar.jade
        

