extends ../layout.jade

block content
  div.wrapper-content
    include ../partials/_film-reviews-search.jade
    div.content-body
      div.content-body-primary
        div.container
          div.row
            div.col-sm-8
              div.primary-item
                include ./film-review-latest.jade
            div.hidden-xs.col-sm-4
              div.secondary-item
                include ../partials/_sidebar.jade